
*.bin

*.lock

*.gradle

*.gradle

*.rawproto

gradle/wrapper/gradle-wrapper.properties

*.xml

build/generated/mockable-android-23.jar

build/intermediates/dex-cache/cache.xml

gradle/wrapper/gradle-wrapper.properties

build.gradle

app/app.iml

.idea/libraries/support_vector_drawable_23_2_1.xml

.idea/libraries/support_v4_23_2_1.xml

.idea/libraries/scanner_0_2_0.xml

.idea/libraries/metawear_2_5_0.xml

.idea/libraries/design_23_2_1.xml

.idea/libraries/appcompat_v7_23_2_1.xml

.idea/libraries/animated_vector_drawable_23_2_1.xml

.idea/gradle.xml
